
<div id="<%= dom_id vacation %>">
  <p>
    <strong>First name:</strong>
    <%= vacation.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= vacation.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vacation.email %>
  </p>

  <p>
    <strong>Vacation days:</strong>
    <%= vacation.vacation_days %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= vacation.starting_date %>
  </p>

  <p>
    <strong>Ending date:</strong>
    <%= vacation.ending_date %>
  </p>

  <%# <p>
    <strong>Bonus:</strong>
    <%= vacation.bonus %>
  <%# </p> %>

</div>
