<div class="p-1 m-1 rounded-3 ">
  <div class="container-fluid container">

    <h1 class="fw-bold"><%= @vacation.first_name + " " + @vacation.last_name%></h1>
    <div class="p-2">
      <p class="col-md-8"><span class="fw-bold">Email:</span> <%= @vacation.email %></p>
      <p class="col-md-8"><span class="fw-bold">Days:</span> <%= @vacation.vacation_days %> </p>
      <p class="col-md-8"><span class="fw-bold">Starting:</span> <%= @vacation.starting_date %> </p>
      <p class="col-md-8"><span class="fw-bold">Ending:</span> <%= @vacation.ending_date %> </p>
    </div>
    <%= link_to "Back", vacations_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>




